@use '../../../colors' as *;

.switch-dir {
  margin: 2rem auto;
  padding: 2rem;
  width: 90vw;
  min-height: 100vh;
  background-color: map-get($colors, grays, 400 );
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.intro-par, .text-block  {
  border: 1px solid white;
  border-color: map-get($colors, greens, 200 );
  padding: 1rem;
}

.text-block h3 {
  color: map-get($colors, greens, 100 );
}

.example {
  margin-top: 1rem;
}

.jumbotron {
  margin-top: 4rem;
  padding: 4rem 0rem;
  background-color: map-get($colors, grays, 200 );
}
