<div class="address-con">

  <table  class="table table-bordered">
    <div class="table-block-two">
      <tr class="bg-success">
        <th >Street</th>
        <th>Suite</th>
        <th>City</th>
        <th>Zipcode</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>

      <tr >
        <td>{{ usr.address.street }}</td>
        <td>{{ usr.address.suite }}</td>
        <!-- <td>{{ user.address.city }}</td>
        <td>{{ user.address.zipcode }}</td>
        <td>{{ user.address.geo.lat }}</td>
        <td>{{ user.address.geo.lng }}</td> -->
      </tr>
    </div>
  </table>

</div>
