<!-- <app-header></app-header> -->

<div class="intro-container">
  <h1 id="intro" class="intro-title">Intro</h1><a href="#d-binding">Data Binding</a>

  <main>
    <section class="structure">

      <div class="chapter one">

      <div class="card">
        <h3 class="components">Components</h3>
        <div class="par-one">
          Angular has a component  based structure, wraapped in at least one Module.
        </div>
        <p class="par-two">
          Having a modulair and component bassed structure comes with various benefits,
          but here are some of the major ones:
        </p>
      </div>
      <div class="card three">
        <!-- <div class="card-list"> -->
      <div class="reusabbility">
        <h3 class="benefit">Reusability</h3>
        <p>
          Because you will work with modules built with several components and services, behaviours, directives, etc
          These building blocks can be used for multiple purposes or simply for the same purpose multiple times.
        </p>
      </div>

      </div>
      <div class="card two">
          <h3 class="benefit">Maintainability</h3>
          <p>
            An application is now built in relatively small  and  multiple  parts and subparts, instead of one or
            a couple of very large, inconvenient and obscure parts
          </p>
      </div>

      <div class="card two">
        <h3 class="bennefit">Clean and good structured code</h3>
          Angular is TypeScript based, which meanes  it is easier to catch bugs, can do this
          before run time. Keeps you on track with return types, so you can spot bad syntax
          early in the game, at compilation time, before it is published.<br/>
          Within Angular the library RXjs is also accessible which means wee have a lot of extra
          possibilities, like Observabless, Subscripion, many operators like : map, filter,  etc ...
        <p>

        </p>
      </div>

          <!-- </div> -->

      <div class="card two">
        <h3 class="benefit">Ideally suited for collaboration</h3>
        <p>
          Generally  speaking there are some agreements and "Best Practice"
          way's of witing the syntax. This leads to cleaner and generic code and thus
          easier and better understandable syntax for other developers, like your colleages
        </p>
      </div>


      <p> and much more .... </p>

      </div>

      <!-- <div class="chapter two"> -->
    </section>

      <div class="module one">
        <p> Module </p>
        <div class="comp-collection">
          <p class="component-diagram">Component</p>
          <p class="component-diagram">Component</p>
          <div class="component-diagram">Component
            <p class="comp-blocks">
              <span class="blocks">directives</span>
              <span class="blocks">events</span>
              <span class="blocks">properties</span>
              <span class="blocks">observables</span>
            </p>
            <p class="comp-blocks">
              <span class="blocks">subscriptions</span>
              <span class="blocks">subjects</span>
              <span class="blocks">httpClients</span>
              <span class="blocks">services</span>
            </p>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </main>

<div class="sub-nav">
    <p class="intro"><a href="#intro">Top-Intro</a></p>
    <h1  class="title-data-binding" id="d-binding"> Data Binding </h1>
</div>
    <section>
      <div class="chapter three">

          <div class="component-diagram template">
            <!-- <h1>
              <p>T</p>
              <p>E</p>
              <p>M</p>
              <p>P</p>
              <p>L</p>
              <p>A</p>
              <p>T</p>
              <p>E</p>
            </h1> -->
            <h1 class="template">TEMPLATE</h1>
            <h1 class="template"><.html> file</h1>
          </div>

          <div class=" binding-collection">

            <div class="binding-box">
              <p class="interpolation">Interpolation</p>
              <p class="arrow">
                <-------------------------------
              </p>
            </div>
            <div class="binding-box">
              <p class="property-binding">Property Binding</p>
              <p class="arrow">
                <-------------------------------
              </p>
            </div>
            <div class="binding-box">
              <p class="event-binding">Event Binding</p>
              <p class="arrow">
                ------------------------------->
              </p>
            </div>
            <div class="binding-box">
              <p class="two-way">Two Way Binding</p>
              <p class="arrow">
                <------------------------------>
              </p>
            </div>

          </div>

          <div class="component-diagram component-binding">
            <h1 class="component">
              <!-- <p>C</p>
              <p>O</p>
              <p>M</p>
              <p>P</p>
              <p>O</p>
              <p>N</p>
              <p>E</p>
              <p>N</p>
              <p>T</p>
              -->

              COMPONENT
            </h1>
            <h1 class="component"><.ts> file</h1>
          </div>

      </div>

    </section>

    <section class="binding-examples">

    </section>

    <!-- Button trigger modal -->


</div>
