.container {
  // border: 1px solid orange;
  width: 90vw;
  margin: 2rem auto;
}

.outlets {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
